* {
    margin: 0;
    padding: 0;
    
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    
}

            /*Left side styling*/
/*degrees and weather pic*/
#currentWeatherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px
}

.cityCountry {
    font-size: 2.5em;
    font-weight: 550;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
    padding-bottom: 5px;

}

.weather {
    display: flex;
    align-items: center;
    font-size: 2em;
}

.textDescription {
    padding-bottom: 20px;
    font-size: 1.3em;
    font-weight: 550;

}

.details {
    display: flex;
    gap: 10px;
}



            /*Right side styling*/
.optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px; /* Adjust the width as needed */
}

.locationMarker {
    width: 50px;
}

.divSearch {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
}

.searchLocation {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 35px;
    padding: 10px;
    border-radius: 4px; 
    border: none;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding-left: 40px; /* Space for the search icon */
    box-sizing: border-box;
}


.serchingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchLoop {
    position: absolute;
    left: 55px;
    color: black;
}

.celsiusFahrenheit {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60px;
    height: 30px;
    padding: 2px;
    background-color: rgb(204,204,204);
    color: black;
    border-radius: 20px;
    cursor: pointer;
}

.celsiusFahrenheit div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    border-radius: 100%;
}

.activeDegree {
    background-color: white;
}


.searchLoop {
    cursor: pointer;
}